* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: TEXT;
    src: url(fonts/SolanoGothicMVB-Bd.otf);
}

.nav_about {
    /*background: white;
    margin-left: 10px;
    position: fixed;*/
    left: 25%;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav_about > li {
    display: inline-flex;
}
.nav_about > li + li {
    margin-left: 40px;
}
.nav_about > li > a {
    padding: 0 0 15px 0;
    position: relative;
    text-transform: uppercase;   
    color: black;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 25px;
    text-decoration: none;   
}
.nav_about > li > a:hover {
    text-decoration: none;   
    color: brown;
}
.nav_about > li > a:after {
    width: 0;
    height: 3px;
    background-color: brown;
    content: '';
    left: 0;
    bottom: 10px;
    position: absolute;
    transition: all .3s;
}
.nav_about > li > a:hover::after {
    width: 100%;
}
.nav_about li {
    margin: 0;
    white-space: nowrap;
}
.nav_about li.menu-children {
    position: relative;
    margin-right: 12px;
}
.nav_about li.menu-children:after {
    position: absolute;
    content: "\2039";
    color: brown;
    font-size: 20px;
    font-weight: bold;
    right: -12px;
    top: -2px;
    transform: rotate(-90deg);
}
.nav_about li li.menu-children:after {
    position: absolute;
    content: "\2039";
    color: black;
    font-size: 20px;
    font-weight: bold;
    right: 10px;
    top: 12px;
    transform: rotate(180deg);
}
.nav_about li.menu-children:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.nav_about ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: brown;
    position: absolute;
    z-index: 20;
    min-width: 220px;
    top: 100%;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25);
}
.nav_about ul li {
    display: block;
    padding: 0 10px;
    line-height: 1.1;
}
.nav_about ul li:last-child {
    margin-bottom: 0;
}
.nav_about ul li a {
    display: block;
    color: black;
    padding: 10px;
    transition: all .3s;
    text-decoration: none;   
}
.nav_about ul li a:hover {
    color: brown;
    background: black;
    text-decoration: none;   
}
.nav_about ul ul {
    top: 0;
    left: 100%;
}
.btsphoto{
    position: absolute;
    width: 590px;
    top: 100px;
    left: 600px;
}
.block{
    position: absolute;
    left: 200px;
    top: 340px;
    padding-top: 310px;
    padding-left: 350px;
    width: 100px;
    background-color: rgb(146, 94, 66);
    border-width: 1px;
    border-color: black;
}
.bioword{
    position: absolute;
    top: 365px;
    left: 220px;
    font-size: 50px;
    font-family: 'Times New Roman', serif;
    color: black;
}
.info{
    position: absolute;
    top: 430px;
    left: 220px;
    font-size: 20px;
    font-family: 'Times New Roman', serif;
    color: black;
}
.circle1{
    position: absolute;
    top: 220px;
    left: 545px;
    background-color: rgb(146, 94, 66);
    padding-top: 90px;
    width: 90px;
    border-radius: 360px;
}
.circle2{
    position: absolute;
    top: 175px;
    left: 490px;
    background-color: rgb(146, 94, 66);
    padding-top: 60px;
    width: 60px;
    border-radius: 360px;
}
.circle3{
    position: absolute;
    top: 130px;
    left: 540px;
    background-color: rgb(146, 94, 66);
    padding-top: 40px;
    width: 40px;
    border-radius: 360px;
}
.circle4{
    position: absolute;
    top: 450px;
    right: 100px;
    background-color: rgb(146, 94, 66);
    padding-top: 170px;
    width: 170px;
    border-radius: 360px;
}
.circle5{
    position: absolute;
    top: 470px;
    right: 119px;
    background-color: white;
    padding-top: 130px;
    width: 130px;
    border-radius: 360px;
}
.history{
    position: absolute;
    top: 750px;
    left: 70px;
    font-size: 50px;
    color: black;
}
.historyinfo{
    position: absolute;
    top: 133%;
    left: 70px;
    font-size: 140%;
    color: black;
}
.color{
    color: brown;
}
.historyinfo1{
    position: absolute;
    top: 149%;
    left: 70px;
    font-size: 140%;
    color: black;
}
.bts1photo{
    position: absolute;
    width: 590px;
    top: 845px;
    left: 655px;
}
.block1{
    position: absolute;
    left: 825px;
    top: 760px;
    padding-top: 520px;
    padding-left: 380px;
    width: 100px;
    background-color: black;
    border-width: 1px;
    border-color: black;
}


figure.albom1{
    position: absolute;
    top: 218%;
    left: 100px;
    max-width: 100%;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    overflow: hidden;
    font-size: 0;
}
figure.albom1 img{
    transition: all 300ms;
    position: relative;
    top: 0;
    left: 0;
}
figure.albom1:hover img{
    transition: all 700ms;
    transform: scale(1.1);
}
figure.albom1 figcaption{
    position: absolute;
    background: rgb(0, 0, 0);
    transition: transform 300ms;
    padding: 12px;
}
figure.albom1:hover figcaption{
    transform: translateY(0);
}
figure.infoo-bottomm:hover img{
    top: -40px;
}
figure.infoo-bottomm figcaption{
    bottom: 0;
    transform: translateY(100%);
    border-top: 6px solid rgb(0, 0, 0);
}
figure.infoo-bottomm figcaption{
    width: 100%;
}
figure.albom1 figcaption .information1 span{
    color: white;
    font-size: 17px;
    font-family: Verdana, sans-serif;
    display: block;
}
figure.albom1 figcaption .information1 h3{
    color: white;
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ffffff;
}

figure.albom2{
    position: absolute;
    top: 249%;
    left: 100px;
    max-width: 100%;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    overflow: hidden;
    font-size: 0;
}
figure.albom2 img{
    transition: all 300ms;
    position: relative;
    top: 0;
    left: 0;
}
figure.albom2:hover img{
    transition: all 700ms;
    transform: scale(1.1);
}
figure.albom2 figcaption{
    position: absolute;
    background: rgb(0, 0, 0);
    transition: transform 300ms;
    padding: 12px;
}
figure.albom2:hover figcaption{
    transform: translateY(0);
}
figure.infooo-bottommm:hover img{
    top: -40px;
}
figure.infooo-bottommm figcaption{
    bottom: 0;
    transform: translateY(100%);
    border-top: 6px solid rgb(0, 0, 0);
}
figure.infooo-bottommm figcaption{
    width: 100%;
}
figure.albom2 figcaption .information2 span{
    color: white;
    font-size: 17px;
    font-family: Verdana, sans-serif;
    display: block;
}
figure.albom2 figcaption .information2 h3{
    color: white;
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ffffff;
}

figure.albom3{
    position: absolute;
    top: 280%;
    left: 100px;
    max-width: 100%;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    overflow: hidden;
    font-size: 0;
}
figure.albom3 img{
    transition: all 300ms;
    position: relative;
    top: 0;
    left: 0;
}
figure.albom3:hover img{
    transition: all 700ms;
    transform: scale(1.1);
}
figure.albom3 figcaption{
    position: absolute;
    background: rgb(0, 0, 0);
    transition: transform 300ms;
    padding: 12px;
}
figure.albom3:hover figcaption{
    transform: translateY(0);
}
figure.infoooo-bottommmm:hover img{
    top: -40px;
}
figure.infoooo-bottommmm figcaption{
    bottom: 0;
    transform: translateY(100%);
    border-top: 6px solid rgb(0, 0, 0);
}
figure.infoooo-bottommmm figcaption{
    width: 100%;
}
figure.albom3 figcaption .information3 span{
    color: white;
    font-size: 17px;
    font-family: Verdana, sans-serif;
    display: block;
}
figure.albom3 figcaption .information3 h3{
    color: white;
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ffffff;
}

.varticalline{
    position: absolute;
    top: 218%;
    left: 330px;
    height: 609px;
    width: 10px;
    background-color: black;
    border-color: black;
    margin-bottom: 45px;
}
.dicoration{
    color: brown;
    font-family: TEXT;
    font-size: 25px;
}

.sidenav{
    height: 611px;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 218%;
    left: 340px;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover{
    color: #f1f1f1;
}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.bts2photo{
    position: absolute;
    top: 11%;
    left: 12%;
    width: 275px;
}
.underphoto{
    position: absolute;
    top: 6%;
    left: 5%;
    width: 320px;
    height: 90%;
}
.infoalboms{
    position: absolute;
    top: 15%;
    left: 45%;
    font-size: 25px;
    color: white;
}
.infoalboms1{
    position: absolute;
    font-size: 25px;
    top: 70%;
    left: 45%;
    color: white;
}
.button{
    display: inline-flex;
    top: 210%;
    left: 100px;
    text-decoration: none;
    position: absolute;
    font-size: 110%;
    line-height: 20px;
    padding: 12px 35px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', Tahoma, sans-serif;
    background: black;
    cursor: pointer;
    border: 1px solid #ffd6bf;
    overflow: hidden;
    z-index: 1;
}
.button:hover,
.button:active,
.button:focus{
    color: #FFF;
}
.button:before{
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid rgb(53, 53, 53);
    transition: transform 0.5s;
    transform: translateX(-100%);
    z-index: -1;
}
.button:hover:before,
.button:active:before,
.button:focus:before{
    transform: translateX(0);
}

.pointers{
    position: absolute;
    width: 8%;
    top: 198%;
    left: 10.7%;
}
.sticker{
    position: absolute;
    width: 50%;
    top: 215%;
    left: 40%;
}


figure.card{
    position: absolute;
    top: 325%;
    left: 150px;
    max-width: 100%;
    display: inline-block;
    border: 6px solid rgb(146, 94, 66);
    background: rgb(146, 94, 66);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    font-size: 0;
}
figure.card img{
    transition: all 300ms;
    position: relative;
    top: 0;
    left: 0;
}
figure.card:hover img{
    transition: all 700ms;
    transform: scale(1.1);
}
figure.card figcaption{
    position: absolute;
    background: rgb(146, 94, 66);
    transition: transform 300ms;
    padding: 12px;
}
figure.card:hover figcaption{
    transform: translateY(0);
}
figure.info-bottom:hover img{
    top: -40px;
}
figure.info-bottom figcaption{
    bottom: 0;
    transform: translateY(100%);
    border-top: 6px solid rgb(146, 94, 66);
}
figure.info-bottom figcaption{
    width: 100%;
}
figure.card figcaption .iinfo span{
    font-size: 17px;
    font-family: Verdana, sans-serif;
    display: block;
}
figure.card figcaption .iinfo h3{
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #000000;
}

figure.card1 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
figure.card1{
    position: absolute;
    top: 390%;
    left: 150px;
    max-width: 100%;
    display: inline-block;
    border: 6px solid rgb(146, 94, 66);
    background: rgb(146, 94, 66);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    font-size: 0;
}
figure.card1 img{
    transition: all 300ms;
    position: relative;
    top: 0;
    left: 0;
}
figure.card1:hover img{
    transition: all 700ms;
    transform: scale(1.1);
}
figure.card1 figcaption{
    position: absolute;
    background: rgb(146, 94, 66);
    transition: transform 300ms;
    padding: 12px;
}
figure.card1:hover figcaption{
    transform: translateY(0);
}
figure.info-bottom:hover img{
    top: -40px;
}
figure.info-bottom figcaption{
    bottom: 0;
    transform: translateY(100%);
    border-top: 6px solid rgb(146, 94, 66);
}
figure.info-bottom figcaption{
    width: 100%;
}
figure.card1 figcaption .iinfo span{
    font-size: 17px;
    font-family: Verdana, sans-serif;
    display: block;
}
figure.card1 figcaption .iinfo h3{
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #000000;
}

figure.card2 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
figure.card2{
    position: absolute;
    top: 455%;
    left: 150px;
    max-width: 100%;
    display: inline-block;
    border: 6px solid rgb(146, 94, 66);
    background: rgb(146, 94, 66);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    font-size: 0;
}
figure.card2 img{
    transition: all 300ms;
    position: relative;
    top: 0;
    left: 0;
}
figure.card2:hover img{
    transition: all 700ms;
    transform: scale(1.1);
}
figure.card2 figcaption{
    position: absolute;
    background: rgb(146, 94, 66);
    transition: transform 300ms;
    padding: 12px;
}
figure.card2:hover figcaption{
    transform: translateY(0);
}
figure.info-bottom:hover img{
    top: -40px;
}
figure.info-bottom figcaption{
    bottom: 0;
    transform: translateY(100%);
    border-top: 6px solid rgb(146, 94, 66);
}
figure.info-bottom figcaption{
    width: 100%;
}
figure.card2 figcaption .iinfo span{
    font-size: 17px;
    font-family: Verdana, sans-serif;
    display: block;
}
figure.card2 figcaption .iinfo h3{
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #000000;
}

figure.card3 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
figure.card3{
    position: absolute;
    top: 325%;
    left: 750px;
    max-width: 100%;
    display: inline-block;
    border: 6px solid rgb(146, 94, 66);
    background: rgb(146, 94, 66);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    font-size: 0;
}
figure.card3 img{
    transition: all 300ms;
    position: relative;
    top: 0;
    left: 0;
}
figure.card3:hover img{
    transition: all 700ms;
    transform: scale(1.1);
}
figure.card3 figcaption{
    position: absolute;
    background: rgb(146, 94, 66);
    transition: transform 300ms;
    padding: 12px;
}
figure.card3:hover figcaption{
    transform: translateY(0);
}
figure.info-bottom:hover img{
    top: -40px;
}
figure.info-bottom figcaption{
    bottom: 0;
    transform: translateY(100%);
    border-top: 6px solid rgb(146, 94, 66);
}
figure.info-bottom figcaption{
    width: 100%;
}
figure.card3 figcaption .iinfo span{
    font-size: 17px;
    font-family: Verdana, sans-serif;
    display: block;
}
figure.card3 figcaption .iinfo h3{
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #000000;
}

figure.card4 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
figure.card4{
    position: absolute;
    top: 390%;
    left: 750px;
    max-width: 100%;
    display: inline-block;
    border: 6px solid rgb(146, 94, 66);
    background: rgb(146, 94, 66);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    font-size: 0;
}
figure.card4 img{
    transition: all 300ms;
    position: relative;
    top: 0;
    left: 0;
}
figure.card4:hover img{
    transition: all 700ms;
    transform: scale(1.1);
}
figure.card4 figcaption{
    position: absolute;
    background: rgb(146, 94, 66);
    transition: transform 300ms;
    padding: 12px;
}
figure.card4:hover figcaption{
    transform: translateY(0);
}
figure.info-bottom:hover img{
    top: -40px;
}
figure.info-bottom figcaption{
    bottom: 0;
    transform: translateY(100%);
    border-top: 6px solid rgb(146, 94, 66);
}
figure.info-bottom figcaption{
    width: 100%;
}
figure.card4 figcaption .iinfo span{
    font-size: 17px;
    font-family: Verdana, sans-serif;
    display: block;
}
figure.card4 figcaption .iinfo h3{
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #000000;
}

figure.card5 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
figure.card5{
    position: absolute;
    top: 455%;
    left: 750px;
    max-width: 100%;
    display: inline-block;
    border: 6px solid rgb(146, 94, 66);
    background: rgb(146, 94, 66);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    font-size: 0;
}
figure.card5 img{
    transition: all 300ms;
    position: relative;
    top: 0;
    left: 0;
}
figure.card5:hover img{
    transition: all 700ms;
    transform: scale(1.1);
}
figure.card5 figcaption{
    position: absolute;
    background: rgb(146, 94, 66);
    transition: transform 300ms;
    padding: 12px;
}
figure.card5:hover figcaption{
    transform: translateY(0);
}
figure.info-bottom:hover img{
    top: -40px;
}
figure.info-bottom figcaption{
    bottom: 0;
    transform: translateY(100%);
    border-top: 6px solid rgb(146, 94, 66);
}
figure.info-bottom figcaption{
    width: 100%;
}
figure.card5 figcaption .iinfo span{
    font-size: 17px;
    font-family: Verdana, sans-serif;
    display: block;
}
figure.card5 figcaption .iinfo h3{
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #000000;
}

.notcolor{
    position: absolute;
    top: 520%;
    color: white;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb{
    background: brown; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(118, 31, 31); 
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: brown url("Картинки/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
a:hover.back-to-top {
	background-color: #000;
}